:root {
 --background: black;
 --grey:rgb(128, 128, 128, 0.5);
 --text: ghostwhite;
 --base:#E7EEED;
 --orange:#fc7233;
 --orangeCard: rgb(252, 114, 51, 0.6);
 --orangeArticle: rgb(252, 114, 51, 0.9);
 --boldText: "Ginger Bold";
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(./images/wp3594884.jpg);
    color: var(--text);
}

h1 {
    font-style: var(--boldText);
    }

h2 {
     font-size: 30px;
}
    
h3 {
    font-size: 25px;
}

header h1 {
    font-size: 60px;
}

#webNews {
    margin-top: 1%;
}

#date {
    font-size: 20px;
}

.jumbotron {
    background-color: rgb(252, 114, 51, 0);
    width: 100%;
    margin-bottom: 0.5%;
    padding-bottom: 2%;
}

#nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 6%;
    background-color: rgb(252, 114, 51, 0);
}

.btn {
    background-color: var(--orangeCard);
    color: var(--text);
    border-radius: 10px;
}

.btn:hover {
    background-color: var(--base);
    color: var(--orange);
}

#weather {
    font-style: var(--boldText);   
    margin-left: 4.5%;
}

.stories{
    text-align: center;
}

.card {
    background-color: var(--orangeCard);
    border: 1.5px solid var(--orange);
    color: var(--text);
    margin: 1%;
}

.card h1 {
    border: 1px solid var(--text);
    font-size: 35px;
    margin-top: 2%;
}

#topNewsBar {
    display: flex;
    justify-content: center;
}

.customBtn {
    width: 40%;
    margin-top: 0.5%;
    margin-left: 2%;
    margin-right: 2%;
}

.customBtn:hover {
    background-color: var(--base);
}

/* ztztztztztzt */
.modal-content {
    background-color: var(--orangeArticle);
}


@media screen and (min-width: 768px) {
    .customBtn {
        width: 25%;
        margin-top: 1%;
        margin-left: 1%;
        margin-right: 1%;
    }
}
