:root {
 --background: black;
 --grey:grey;
 --text: ghostwhite;
 --base:#E7EEED;
 --orange:#fc7233;
 --boldText: "Ginger Bold";
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--grey);
    color: var(--text);
}

h1 {
    font-style: var(--boldText);
    }
    
    h2 {
        font-size: 30px;
    }
    
    h3 {
        font-size: 25px;
    }

header h1 {
    font-size: 60px;
}

#webNews {
    margin-top: 1%;
}

#date {
    font-size: 20px;
}

.jumbotron {
    background-color: var(--orange);
    width: 100%;
}

#nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 6%;
    background-color: var(--orange);
}

.btn {
    background-color: var(--grey);
    color: var(--text);
    border-radius: 15%;
}

.btn:hover {
    background-color: var(--base);
    color: var(--orange);
}

#weather {
    font-style: var(--boldText);   
    margin-left: 4.5%;
}

.stories{
    text-align: center;
}

.card {
    background-color: var(--grey);
    border: 1.5px solid var(--orange);
    color: var(--text);
    margin: 1%;
}

.card h1 {
    border: 1px solid var(--text);
    font-size: 35px;
    margin-top: 2%;
}

#searchBtn {
    margin-top: 1%;
    margin-bottom: 1%;
    align-items: center;
}
#topNewsBar {
    display: flex;
    justify-content: center;
}

.customBtn {
    width: 40%;
    margin-top: 0.5%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: var(--orange);
}

.customBtn:hover {
    background-color: var(--base);
}

/* ztztztztztzt */
.modal-content {
    background-color: grey;
}

.article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(5, 22, 53);
    border: 1.5px solid var(--orange);
    margin:20px;
}

.artLink{
    padding: 5px;
    background-color: orange;
}
/* ztztztztztzt */

@media screen and (min-width: 768px) {
    .customBtn {
        width: 25%;
    }
    .customBtn {
        width: 25%;
        margin-top: 1%;
        margin-left: 1%;
        margin-right: 1%;
        background-color: var(--orange);
    }
}
